#pading{
    margin-top: 100px;
  }
#Codesnip span{
    margin-left: 0%;
}
hr.style-one { border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);}
h1 { font-size: 2em; color: #333;}
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
p,li,td,tr, b,u,i{font-size: 16px;}
strong {font-size: 21px;}
ul.b{
    margin-left: 2%;
    list-style-type: square;
}
pre{
    width: 80%;
}
.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: #ffffff;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
    
}

#test div::before{
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    top: 0;
    left: -1px;
    width: 5px;
    background: #4691f6;
}

.main {
    width: 80%;
    margin-left: 210px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}